/*! Sidebar */

// The wrapper container for the application's sidebar
.sidebar {

    @apply .min-h-screen .flex-none .pt-header .w-sidebar;

    // top: 0;
    // left: 0;
    // padding-top: 50px;
    // min-height: 100%;
    // z-index: 810;

    // Using disposable variable to join statements with a comma
    // @transition-rule: @transition-speed @transition-fn, width @transition-speed @transition-fn;
    // .transition-transform(@transition-rule);

    // @media (max-width: @screen-header-collapse) {
    //   padding-top: 100px;
    // }

    // @media (max-width: @screen-xs-max) {
    //   .translate(-@sidebar-width, 0);
    // }

    // .sidebar-collapse & {
    //   @media (min-width: @screen-sm) {
    //     .translate(-@sidebar-width, 0);
    //   }
    // }

    // .sidebar-open & {
    //   @media (max-width: @screen-xs-max) {
    //     .translate(0, 0);
    //   }
    // }
}

// The top portion of the sidebar that contains the logo
.sidebar-logo {
    @apply .absolute .pin-t .pin-l .pin-r .bg-logo .flex .items-center .w-sidebar .h-header .px-6 .text-white;
}

// The remaining portion of the sidebar that contains navigational elements
.sidebar-nav {
    padding-bottom: 10px;
}

// The root list wrapper
.sidebar-menu {

    @apply .list-reset;

    // First Level
    & > li {

        position: relative;
        margin: 0;
        padding: 0;

        & > a {
            padding: 12px 5px 12px 15px;
            display: block;
            > .fa,
            > .glyphicon,
            > .ion {
                width: 20px;
            }
        }
        .label,
        .badge {
            margin-right: 5px;
        }
        .badge {
            margin-top: 3px;
        }
    }

    li.header {
        padding: 10px 25px 10px 15px;
        font-size: 12px;
    }

    li > a > .fa-angle-left,
    li > a > .pull-right-container > .fa-angle-left {
        width: auto;
        height: auto;
        padding: 0;
        margin-right: 10px;
        // .transition(transform .5s ease);
    }

    li > a > .fa-angle-left {
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -8px;
    }

    .menu-open {

        & > a > .fa-angle-left,
        & > a > .pull-right-container > .fa-angle-left {
            // .rotate(-90deg);
        }

    }

    .active > .treeview-menu {
        display: block;
    }

}

// The individual sidebar items (contains the link and any nested items)
.sidebar-item {

}

// The portion of the sidebar item that redirects the user
.sidebar-link {
  @apply .py-3 .px-6 .cursor-pointer .flex .items-center .font-normal .text-white .text-base .no-underline .select-none;
}

// The textual display portion of the sidebar item
.sidebar-label {
  @apply .select-none .flex-1;
}

// The container within sidebar items for nested sidebar items
.sidebar-item-menu {
  @apply .list-reset .pl-3 .bg-black-30%;
}

// Double nested sidebar items
.sidebar-item-menu .sidebar-item-menu {
  @apply .pl-6 .-ml-3;
}